@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using PizzaSelector.Models

<form method="post">
    <div>
        <select asp-for="SelectedPizzaType" asp-items="Html.GetEnumSelectList<PizzaType>()" class="form-select">
        </select>

        <button type="submit" class="btn btn-primary">
            Select Pizza
        </button>
    </div>
</form>